/* hero section styles */
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  /* gap: 5rem; */
}

.hero__left__wrapper {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.hero__imgWrapper {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.hero__heading {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.4em;
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 2rem;
}

.hero__info {
  font-size: 1.4rem;
  text-align: center;
  color: var(--black-2);
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  .hero__wrapper {
    flex-direction: row;
    gap: 0;
  }
  .hero__left {
    flex: 3;
  }
  .hero__right {
    flex: 4;
  }
  .hero__heading {
    font-size: 3.6rem;
  }
  .hero__left__wrapper {
    align-items: flex-start;
  }
  .hero__info {
    text-align: left;
    font-size: 1.8rem;
  }
  .hero__imgWrapper {
    max-width: none;
    width: 90%;
  }
}

/* our special section styles*/

#ourSpecials {
  padding-top: 10rem;
  /* border: solid 1px; */
}

.ourSpecials__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ourSpecials__item {
  background-color: var(--lightGreen-1);
  border-radius: 12px;
  padding: 1.2rem;
  padding-top: 5rem;
  height: auto;
  margin: 0 auto;
  margin-right: 1rem;
}

.ourSpecials__item__img {
  /* margin-top: -100px; */
  margin-top: calc(-50% - 1rem);
  margin-bottom: 2rem;
  height: 150px;
}

.ourSpecials__item__img > img {
  border-radius: 1rem;
  object-fit: cover;
}

.ourSpecials__item__stars {
  width: max-content;
  height: 1.4rem;
  margin-bottom: 1rem;
}

.ourSpecials__left {
  display: flex;
  margin-bottom: 3rem;
  /* gap: 1rem; */
}

.ourSpecials__item__title {
  font-size: 1.4rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.ourSpecials__item__price {
  font-size: 1.4rem;
  color: var(--green-1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.ourSpecials__item__text {
  font-size: 1.4rem;
  color: var(--black-2);
  font-weight: 500;
}

.ourSpecials__title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 1.5rem;
}

.ourSpecials__text {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  #ourSpecials {
    padding-top: 15rem;
  }
  #ourSpecials .container {
    max-width: 900px;
  }
  .ourSpecials__wrapper {
    flex-direction: row;
  }
  .ourSpecials__left {
    flex: 4;
    gap: 2rem;
  }
  .ourSpecials__right {
    flex: 2;
  }
  .ourSpecials__item {
    padding: 2rem;
    width: 45%;
  }
  .ourSpecials__item__title {
    font-size: 2.4rem;
    line-height: 1.4em;
    margin-bottom: 1.5rem;
  }
  .ourSpecials__item__price {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .ourSpecials__item__stars {
    margin-bottom: 2rem;
  }
  .ourSpecials__item__text {
    font-size: 1.6rem;
  }
  .ourSpecials__title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .ourSpecials__text {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 300px) {
  #ourSpecials {
    padding-top: 3rem;
  }
  .ourSpecials__left {
    flex-wrap: wrap;
  }
  .ourSpecials__item {
    margin-top: 10rem;
  }
}

/* Discount Styles */
.discount__wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGreen-1);
  padding: 1.5rem;
  border-radius: 12px;
  background-image: url(./images/discount-illustration.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100px;
}

.discount__images {
  display: flex;
  /* gap: 1rem; */
}

.discount__img1 {
  margin-right: 1rem;
}

.discount__img1 img {
  border-radius: 12px;
  object-fit: cover;
}

.discount__img1:nth-child(1) {
  flex: 2;
}

.discount__img1:nth-child(2) {
  flex: 3;
}

.discount__img1:nth-child(3) {
  display: none;
}

.discount__info {
  margin-top: 3rem;
}

.discount__text {
  font-size: 1.4rem;
  font-family: Poppins;
  font-weight: 600;
  color: var(--green-1);
  margin-bottom: 0.8rem;
}

.discount__title {
  font-size: 1.8rem;
  font-family: Poppins;
  font-weight: 600;
  color: var(--black-1);
  margin-bottom: 1rem;
}

.discount__price {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Poppins;
  margin-bottom: 1rem;
}

.discount__oldPrice {
  color: var(--black-2);
  text-decoration: line-through;
}

.discount__newPrice {
  color: var(--green-1);
  margin-left: 1rem;
}

.discount__stars {
  height: 1.5rem;
  width: max-content;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .discount__img1:nth-child(1) {
    width: 30%;
  }
  .discount__img1:nth-child(2) {
    width: 30%;
  }
  .discount__img1:nth-child(3) {
    display: block;
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .discount__wrapper {
    flex-direction: row;
    gap: 4rem;
    padding: 2rem;
    align-items: center;
    background-size: 150px;
  }
  .discount__images {
    flex: 5;
    margin-bottom: 0;
    gap: 2rem;
  }
  .discount__info {
    flex: 3;
  }
  .discount__img1:nth-child(n) {
    flex: 1;
    height: 350px;
  }
  .discount__text {
    font-size: 2.4rem;
  }
  .discount__title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
  }
  .discount__price {
    font-size: 2.4rem;
  }
  .discount__stars {
    height: 20px;
    margin-bottom: 2rem;
  }
}

/* Events Media Styles */
.eventsMedia__wrapper {
  display: flex;
  /* gap: 1.5rem; */
}

.eventMedia__1 {
  position: relative;
  flex: 2;
  margin-right: 1.5rem;
}

.eventMedia__2 {
  position: relative;
  flex: 1;
}

.eventMedia__1__playButton {
  max-width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .eventsMedia__wrapper {
    gap: 2rem;
  }
  .eventMedia__1__playButton {
    max-width: 100px;
  }
}

/* Events Info Styles */
#eventsInfo {
  padding-top: 0;
}

.eventsInfo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.eventsInfo__item {
  display: flex;
  background-color: var(--lightGreen-1);
  border-radius: 12px;
  /* gap: 1rem; */
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.eventsInfo__item__img {
  flex: 3;
  margin-right: 1rem;
}

.eventsInfo__item__info {
  flex: 4;
}

.eventsInfo__item__img img {
  border-radius: 12px;
}

.eventsInfo__item__title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--black-1);
}

.eventsInfo__item__text {
  font-size: 1.4rem;
  color: var(--black-2);
}

.eventsInfo__title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--black-1);
}

.eventsInfo__text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--black-2);
}

@media screen and (min-width: 768px) {
  .eventsInfo__wrapper {
    flex-direction: row;
  }
  .eventsInfo__left,
  .eventsInfo__right {
    flex: 1;
  }
  .eventsInfo__item {
    padding: 2rem;
    gap: 2rem;
    max-width: 600px;
    margin-bottom: 2rem;
  }
  .eventsInfo__item__title {
    font-size: 1.8rem;
  }
  .eventsInfo__item__text {
    font-size: 1.6rem;
  }
  .eventsInfo__title {
    font-size: 3.6rem;
    margin-bottom: 1rem;
  }
  .eventsInfo__text {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
